@import "tailwindcss";

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply antialiased text-gray-800;
    background-color: #f5f4f0;
  }
  html {
    font-family: var(--font-geist-sans), system-ui, sans-serif;
  }
  input,
  select,
  textarea {
    font-size: 16px !important;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
